USE [master]
GO

USE [QLKS_IS201]
GO
/****** Object:  Table [BAOCAODICHVU]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BAOCAODICHVU](
	[MA_BCDV] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANLAP_BCDV] [smalldatetime] NULL,
	[TONGDOANHTHU_BCDV] [money] NULL,
	[DOANHTHULUUTRU_BCDV] [money] NULL,
	[DOANHTHUANUONG_BCDV] [money] NULL,
	[DOANHTHUGIATUI_BCDV] [money] NULL,
	[DOANHTHUDICHUYEN_BCDV] [money] NULL,
	[NGAYBATDAU_BCDV] [date] NULL,
	[NGAYKETTHUC_BCDV] [date] NULL,
 CONSTRAINT [PK_BAOCAODICHVU] PRIMARY KEY CLUSTERED 
(
	[MA_BCDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BAOCAONAM]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BAOCAONAM](
	[MA_BCN] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANLAP_BCN] [smalldatetime] NULL,
	[NAM_BCN] [int] NULL,
	[TONGDOANHTHU_BCN] [money] NULL,
	[DOANHTHUTHANG1_BCN] [money] NULL,
	[DOANHTHUTHANG2_BCN] [money] NULL,
	[DOANHTHUTHANG3_BCN] [money] NULL,
	[DOANHTHUTHANG4_BCN] [money] NULL,
	[DOANHTHUTHANG5_BCN] [money] NULL,
	[DOANHTHUTHANG6_BCN] [money] NULL,
	[DOANHTHUTHANG7_BCN] [money] NULL,
	[DOANHTHUTHANG8_BCN] [money] NULL,
	[DOANHTHUTHANG9_BCN] [money] NULL,
	[DOANHTHUTHANG10_BCN] [money] NULL,
	[DOANHTHUTHANG11_BCN] [money] NULL,
	[DOANHTHUTHANG12_BCN] [money] NULL,
 CONSTRAINT [PK_BAOCAONAM] PRIMARY KEY CLUSTERED 
(
	[MA_BCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CHITIET_HDAU]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHITIET_HDAU](
	[MA_CTHDAU] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_MH] [int] NOT NULL,
	[SOLUONG_MH] [int] NULL,
	[TRIGIA_CTHDAU] [money] NULL,
	[THOIGIANLAP_CTHDAU] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [CHITIET_HDDC]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHITIET_HDDC](
	[MA_CTHDDC] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_CD] [int] NOT NULL,
	[TRIGIA_CTHDDC] [money] NULL,
	[THOIGIANLAP_CTHDDC] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [CHITIET_HDGU]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHITIET_HDGU](
	[MA_CTHDGU] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_LUOTGU] [int] NOT NULL,
	[TRIGIA_CTHDGU] [money] NULL,
	[THOIGIANLAP_CTHDGU] [smalldatetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [CHITIET_HDLT]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHITIET_HDLT](
	[MA_CTHDLT] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_PHONG] [int] NOT NULL,
	[THOIGIANNHAN_PHONG] [smalldatetime] NULL,
	[THOIGIANTRA_PHONG] [smalldatetime] NULL,
	[TRIGIA_CTHDLT] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [CHUYENDI]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHUYENDI](
	[MA_CD] [int] IDENTITY(1,1) NOT NULL,
	[DIEMDEN_CD] [nvarchar](255) NULL,
	[DONGIA_CD] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [HOADON]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HOADON](
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[MA_NV] [int] NOT NULL,
	[MA_KH] [int] NOT NULL,
	[THOIGIANLAP_HD] [smalldatetime] NULL,
	[TINHTRANG_HD] [bit] NULL,
	[TRIGIA_HD] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [KHACHHANG]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KHACHHANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN_KH] [nvarchar](255) NULL,
	[SODIENTHOAI_KH] [nvarchar](15) NULL,
	[CMND_KH] [nvarchar](12) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [LOAIGIATUI]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOAIGIATUI](
	[MA_LOAIGU] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAIGU] [nvarchar](255) NULL,
	[DONGIA_LOAIGU] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [LOAIPHONG]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOAIPHONG](
	[MA_LP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LP] [nvarchar](255) NULL,
	[DONGIA_LP] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [LUOTGIATUI]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LUOTGIATUI](
	[MA_LUOTGU] [int] IDENTITY(1,1) NOT NULL,
	[MA_LOAIGU] [int] NOT NULL,
	[SOKILOGRAM_LUOTGU] [int] NULL,
	[NGAYBATDAU_LUOTGU] [date] NULL,
	[NGAYKETTHUC_LUOTGU] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [MATHANG]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MATHANG](
	[MA_MH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_MH] [nvarchar](255) NULL,
	[DONGIA_MH] [money] NULL,
	[NGAYNHAP_MH] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [NHANVIEN]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NHANVIEN](
	[MA_NV] [int] IDENTITY(1,1) NOT NULL,
	[MA_TK] [int] NOT NULL,
	[HOTEN_NV] [nvarchar](255) NULL,
	[GIOITINH_NV] [bit] NULL,
	[NGAYSINH_NV] [date] NULL,
	[SODIENTHOAI_NV] [nvarchar](15) NULL,
	[CHUCVU_NV] [nvarchar](30) NULL,
	[DIACHI_NV] [nvarchar](255) NULL,
	[NGAYVAOLAM_NV] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [PHONG]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PHONG](
	[MA_PHONG] [int] NOT NULL,
	[MA_LP] [int] NOT NULL,
	[TINHTRANG_PHONG] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TAIKHOAN]    Script Date: 16/06/2018 01:54:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAIKHOAN](
	[MA_TK] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP_TK] [nvarchar](32) NULL,
	[MATKHAU_TK] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [BAOCAODICHVU] ON 

INSERT [BAOCAODICHVU] ([MA_BCDV], [THOIGIANLAP_BCDV], [TONGDOANHTHU_BCDV], [DOANHTHULUUTRU_BCDV], [DOANHTHUANUONG_BCDV], [DOANHTHUGIATUI_BCDV], [DOANHTHUDICHUYEN_BCDV], [NGAYBATDAU_BCDV], [NGAYKETTHUC_BCDV]) VALUES (1, CAST(N'2018-06-16T01:37:00' AS SmallDateTime), 7594000.0000, 1120000.0000, 1574000.0000, 3860000.0000, 1040000.0000, CAST(N'2018-04-02' AS Date), CAST(N'2018-06-16' AS Date))
SET IDENTITY_INSERT [BAOCAODICHVU] OFF
SET IDENTITY_INSERT [BAOCAONAM] ON 

INSERT [BAOCAONAM] ([MA_BCN], [THOIGIANLAP_BCN], [NAM_BCN], [TONGDOANHTHU_BCN], [DOANHTHUTHANG1_BCN], [DOANHTHUTHANG2_BCN], [DOANHTHUTHANG3_BCN], [DOANHTHUTHANG4_BCN], [DOANHTHUTHANG5_BCN], [DOANHTHUTHANG6_BCN], [DOANHTHUTHANG7_BCN], [DOANHTHUTHANG8_BCN], [DOANHTHUTHANG9_BCN], [DOANHTHUTHANG10_BCN], [DOANHTHUTHANG11_BCN], [DOANHTHUTHANG12_BCN]) VALUES (1, CAST(N'2018-06-16T01:37:00' AS SmallDateTime), 2018, 10986000.0000, 2053000.0000, 551000.0000, 788000.0000, 1321000.0000, 816000.0000, 5457000.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000, 0.0000)
SET IDENTITY_INSERT [BAOCAONAM] OFF
SET IDENTITY_INSERT [CHITIET_HDAU] ON 

INSERT [CHITIET_HDAU] ([MA_CTHDAU], [MA_HD], [MA_MH], [SOLUONG_MH], [TRIGIA_CTHDAU], [THOIGIANLAP_CTHDAU]) VALUES (34, 16, 2, 1, 9000.0000, CAST(N'2018-01-02T00:41:00' AS SmallDateTime))
INSERT [CHITIET_HDAU] ([MA_CTHDAU], [MA_HD], [MA_MH], [SOLUONG_MH], [TRIGIA_CTHDAU], [THOIGIANLAP_CTHDAU]) VALUES (35, 16, 7, 1, 12000.0000, CAST(N'2018-01-02T00:41:00' AS SmallDateTime))
INSERT [CHITIET_HDAU] ([MA_CTHDAU], [MA_HD], [MA_MH], [SOLUONG_MH], [TRIGIA_CTHDAU], [THOIGIANLAP_CTHDAU]) VALUES (36, 16, 56, 3, 36000.0000, CAST(N'2018-01-02T00:41:00' AS SmallDateTime))
SET IDENTITY_INSERT [CHITIET_HDAU] OFF
SET IDENTITY_INSERT [CHITIET_HDDC] ON 

INSERT [CHITIET_HDDC] ([MA_CTHDDC], [MA_HD], [MA_CD], [TRIGIA_CTHDDC], [THOIGIANLAP_CTHDDC]) VALUES (8, 16, 4, 200000.0000, CAST(N'2018-01-02T00:42:00' AS SmallDateTime))
INSERT [CHITIET_HDDC] ([MA_CTHDDC], [MA_HD], [MA_CD], [TRIGIA_CTHDDC], [THOIGIANLAP_CTHDDC]) VALUES (9, 17, 1, 200000.0000, CAST(N'2018-01-02T00:42:00' AS SmallDateTime))
INSERT [CHITIET_HDDC] ([MA_CTHDDC], [MA_HD], [MA_CD], [TRIGIA_CTHDDC], [THOIGIANLAP_CTHDDC]) VALUES (10, 18, 8, 220000.0000, CAST(N'2018-01-02T00:42:00' AS SmallDateTime))
SET IDENTITY_INSERT [CHITIET_HDDC] OFF
SET IDENTITY_INSERT [CHITIET_HDGU] ON 

INSERT [CHITIET_HDGU] ([MA_CTHDGU], [MA_HD], [MA_LUOTGU], [TRIGIA_CTHDGU], [THOIGIANLAP_CTHDGU]) VALUES (7, 16, 7, 120000.0000, CAST(N'2018-01-02T00:41:00' AS SmallDateTime))
INSERT [CHITIET_HDGU] ([MA_CTHDGU], [MA_HD], [MA_LUOTGU], [TRIGIA_CTHDGU], [THOIGIANLAP_CTHDGU]) VALUES (8, 18, 8, 400000.0000, CAST(N'2018-01-02T00:42:00' AS SmallDateTime))
INSERT [CHITIET_HDGU] ([MA_CTHDGU], [MA_HD], [MA_LUOTGU], [TRIGIA_CTHDGU], [THOIGIANLAP_CTHDGU]) VALUES (9, 19, 9, 260000.0000, CAST(N'2018-02-17T01:06:00' AS SmallDateTime))
SET IDENTITY_INSERT [CHITIET_HDGU] OFF
SET IDENTITY_INSERT [CHITIET_HDLT] ON 

INSERT [CHITIET_HDLT] ([MA_CTHDLT], [MA_HD], [MA_PHONG], [THOIGIANNHAN_PHONG], [THOIGIANTRA_PHONG], [TRIGIA_CTHDLT]) VALUES (16, 16, 101, CAST(N'2018-01-02T00:40:00' AS SmallDateTime), CAST(N'2018-01-02T00:43:00' AS SmallDateTime), 150000.0000)
INSERT [CHITIET_HDLT] ([MA_CTHDLT], [MA_HD], [MA_PHONG], [THOIGIANNHAN_PHONG], [THOIGIANTRA_PHONG], [TRIGIA_CTHDLT]) VALUES (17, 17, 205, CAST(N'2018-01-02T00:40:00' AS SmallDateTime), CAST(N'2018-01-02T00:43:00' AS SmallDateTime), 80000.0000)
INSERT [CHITIET_HDLT] ([MA_CTHDLT], [MA_HD], [MA_PHONG], [THOIGIANNHAN_PHONG], [THOIGIANTRA_PHONG], [TRIGIA_CTHDLT]) VALUES (18, 18, 309, CAST(N'2018-01-02T00:40:00' AS SmallDateTime), CAST(N'2018-01-02T00:43:00' AS SmallDateTime), 180000.0000)
SET IDENTITY_INSERT [CHITIET_HDLT] OFF
SET IDENTITY_INSERT [CHUYENDI] ON 

INSERT [CHUYENDI] ([MA_CD], [DIEMDEN_CD], [DONGIA_CD]) VALUES (1, N'Sân bay Tân Sơn Nhất', 200000.0000)
INSERT [CHUYENDI] ([MA_CD], [DIEMDEN_CD], [DONGIA_CD]) VALUES (2, N'Bến xe Miền Đông', 270000.0000)
INSERT [CHUYENDI] ([MA_CD], [DIEMDEN_CD], [DONGIA_CD]) VALUES (3, N'Bến xe Miền Tây', 140000.0000)
SET IDENTITY_INSERT [CHUYENDI] OFF
SET IDENTITY_INSERT [HOADON] ON 

INSERT [HOADON] ([MA_HD], [MA_NV], [MA_KH], [THOIGIANLAP_HD], [TINHTRANG_HD], [TRIGIA_HD]) VALUES (16, 2, 35, CAST(N'2018-01-02T00:40:00' AS SmallDateTime), 1, 707000.0000)
INSERT [HOADON] ([MA_HD], [MA_NV], [MA_KH], [THOIGIANLAP_HD], [TINHTRANG_HD], [TRIGIA_HD]) VALUES (17, 2, 34, CAST(N'2018-01-02T00:40:00' AS SmallDateTime), 1, 494000.0000)
INSERT [HOADON] ([MA_HD], [MA_NV], [MA_KH], [THOIGIANLAP_HD], [TINHTRANG_HD], [TRIGIA_HD]) VALUES (18, 2, 30, CAST(N'2018-01-02T00:40:00' AS SmallDateTime), 1, 852000.0000)
SET IDENTITY_INSERT [HOADON] OFF
SET IDENTITY_INSERT [KHACHHANG] ON 

INSERT [KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (36, N'Vũ Thị Huyền My', N'01243878090', N'123456789')
INSERT [KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (37, N'Trần Đình Tùng', N'0905654098', N'222345678')
INSERT [KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (38, N'Nguyễn Văn Thanh', N'01205676567', N'023034045')
SET IDENTITY_INSERT [KHACHHANG] OFF
SET IDENTITY_INSERT [LOAIGIATUI] ON 

INSERT [LOAIGIATUI] ([MA_LOAIGU], [TEN_LOAIGU], [DONGIA_LOAIGU]) VALUES (1, N'Theo kilogram', 20000.0000)
INSERT [LOAIGIATUI] ([MA_LOAIGU], [TEN_LOAIGU], [DONGIA_LOAIGU]) VALUES (2, N'Theo ngày', 50000.0000)
SET IDENTITY_INSERT [LOAIGIATUI] OFF
SET IDENTITY_INSERT [LOAIPHONG] ON 

INSERT [LOAIPHONG] ([MA_LP], [TEN_LP], [DONGIA_LP]) VALUES (1, N'Tiêu chuẩn đơn', 80000.0000)
INSERT [LOAIPHONG] ([MA_LP], [TEN_LP], [DONGIA_LP]) VALUES (2, N'Tiêu chuẩn đôi', 120000.0000)
INSERT [LOAIPHONG] ([MA_LP], [TEN_LP], [DONGIA_LP]) VALUES (3, N'Cao cấp đơn', 120000.0000)
SET IDENTITY_INSERT [LOAIPHONG] OFF
SET IDENTITY_INSERT [LUOTGIATUI] ON 

INSERT [LUOTGIATUI] ([MA_LUOTGU], [MA_LOAIGU], [SOKILOGRAM_LUOTGU], [NGAYBATDAU_LUOTGU], [NGAYKETTHUC_LUOTGU]) VALUES (7, 1, 6, NULL, NULL)
INSERT [LUOTGIATUI] ([MA_LUOTGU], [MA_LOAIGU], [SOKILOGRAM_LUOTGU], [NGAYBATDAU_LUOTGU], [NGAYKETTHUC_LUOTGU]) VALUES (8, 2, 0, CAST(N'2018-01-02' AS Date), CAST(N'2018-01-10' AS Date))
INSERT [LUOTGIATUI] ([MA_LUOTGU], [MA_LOAIGU], [SOKILOGRAM_LUOTGU], [NGAYBATDAU_LUOTGU], [NGAYKETTHUC_LUOTGU]) VALUES (9, 1, 13, NULL, NULL)
SET IDENTITY_INSERT [LUOTGIATUI] OFF
SET IDENTITY_INSERT [MATHANG] ON 

INSERT [MATHANG] ([MA_MH], [TEN_MH], [DONGIA_MH], [NGAYNHAP_MH]) VALUES (1, N'Nước khoáng Aquafina 330ml', 8000.0000, CAST(N'2018-05-23' AS Date))
INSERT [MATHANG] ([MA_MH], [TEN_MH], [DONGIA_MH], [NGAYNHAP_MH]) VALUES (2, N'Nước khoáng Dasani 330ml ', 9000.0000, CAST(N'2018-06-01' AS Date))
INSERT [MATHANG] ([MA_MH], [TEN_MH], [DONGIA_MH], [NGAYNHAP_MH]) VALUES (3, N'Nước khoáng Aquafina 1.5l', 12000.0000, CAST(N'2018-06-01' AS Date))
SET IDENTITY_INSERT [MATHANG] OFF
SET IDENTITY_INSERT [NHANVIEN] ON 

INSERT [NHANVIEN] ([MA_NV], [MA_TK], [HOTEN_NV], [GIOITINH_NV], [NGAYSINH_NV], [SODIENTHOAI_NV], [CHUCVU_NV], [DIACHI_NV], [NGAYVAOLAM_NV]) VALUES (1, 1, N'Bùi Huy Phúc', 1, CAST(N'1997-07-17' AS Date), N'0914659369', N'Quản lí', N'87B Hoàng Hoa Thám, Tp. Biên Hòa, Đồng Nai', CAST(N'2010-02-11' AS Date))
INSERT [NHANVIEN] ([MA_NV], [MA_TK], [HOTEN_NV], [GIOITINH_NV], [NGAYSINH_NV], [SODIENTHOAI_NV], [CHUCVU_NV], [DIACHI_NV], [NGAYVAOLAM_NV]) VALUES (2, 2, N'Phạm Phong Phú', 1, CAST(N'1997-08-20' AS Date), N'01208989089', N'Quản lí', N'901 Trường Chinh, Q. Tân Bình, Tp. Hồ Chí Minh', CAST(N'2010-03-24' AS Date))
INSERT [NHANVIEN] ([MA_NV], [MA_TK], [HOTEN_NV], [GIOITINH_NV], [NGAYSINH_NV], [SODIENTHOAI_NV], [CHUCVU_NV], [DIACHI_NV], [NGAYVAOLAM_NV]) VALUES (3, 3, N'Bùi Thanh Tùng', 1, CAST(N'1997-09-23' AS Date), N'01665544337', N'Nhân viên', N'78/34 Phạm Hùng, Q.8 Tp. Hồ Chí Minh', CAST(N'2010-06-17' AS Date))
SET IDENTITY_INSERT [NHANVIEN] OFF
INSERT [PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (101, 5, N'Đang thuê')
INSERT [PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (102, 1, N'Trống')
INSERT [PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (103, 1, N'Đang thuê')
SET IDENTITY_INSERT [TAIKHOAN] ON 

INSERT [TAIKHOAN] ([MA_TK], [TENDANGNHAP_TK], [MATKHAU_TK]) VALUES (1, N'phuc', N'c4aa9e36697271fbd4922f13d68a94f9')
INSERT [TAIKHOAN] ([MA_TK], [TENDANGNHAP_TK], [MATKHAU_TK]) VALUES (2, N'phu', N'9b0550b1bb8c4323f4f5f2f8e386302b')
INSERT [TAIKHOAN] ([MA_TK], [TENDANGNHAP_TK], [MATKHAU_TK]) VALUES (3, N'tung', N'26b3fbb2ce1354a7a8dcc2abb458e96b')
SET IDENTITY_INSERT [TAIKHOAN] OFF
/****** Object:  Index [PK_CHITIET_HDAU]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [CHITIET_HDAU] ADD  CONSTRAINT [PK_CHITIET_HDAU] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHITIET_HDDC]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [CHITIET_HDDC] ADD  CONSTRAINT [PK_CHITIET_HDDC] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHITIET_HDGU]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [CHITIET_HDGU] ADD  CONSTRAINT [PK_CHITIET_HDGU] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHITIET_HDLT]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [CHITIET_HDLT] ADD  CONSTRAINT [PK_CHITIET_HDLT] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDLT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHUYENDI]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [CHUYENDI] ADD  CONSTRAINT [PK_CHUYENDI] PRIMARY KEY NONCLUSTERED 
(
	[MA_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HOADON]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIGIATUI]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [LOAIGIATUI] ADD  CONSTRAINT [PK_LOAIGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_LOAIGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIPHONG]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [LOAIPHONG] ADD  CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_LP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LUOTGIATUI]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [LUOTGIATUI] ADD  CONSTRAINT [PK_LUOTGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_LUOTGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MATHANG]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [MATHANG] ADD  CONSTRAINT [PK_MATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PHONG]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [PHONG] ADD  CONSTRAINT [PK_PHONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TAIKHOAN]    Script Date: 16/06/2018 01:54:57 ******/
ALTER TABLE [TAIKHOAN] ADD  CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [CHITIET_HDAU] ADD  DEFAULT ((1)) FOR [SOLUONG_MH]
GO
ALTER TABLE [CHITIET_HDAU] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDAU]
GO
ALTER TABLE [CHITIET_HDDC] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDDC]
GO
ALTER TABLE [CHITIET_HDGU] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDGU]
GO
ALTER TABLE [CHITIET_HDLT] ADD  DEFAULT (getdate()) FOR [THOIGIANNHAN_PHONG]
GO
ALTER TABLE [CHITIET_HDLT] ADD  DEFAULT ((0)) FOR [TRIGIA_CTHDLT]
GO
ALTER TABLE [CHUYENDI] ADD  DEFAULT ((0)) FOR [DONGIA_CD]
GO
ALTER TABLE [HOADON] ADD  DEFAULT (getdate()) FOR [THOIGIANLAP_HD]
GO
ALTER TABLE [HOADON] ADD  DEFAULT ((0)) FOR [TINHTRANG_HD]
GO
ALTER TABLE [HOADON] ADD  DEFAULT ((0)) FOR [TRIGIA_HD]
GO
ALTER TABLE [LOAIGIATUI] ADD  DEFAULT ((0)) FOR [DONGIA_LOAIGU]
GO
ALTER TABLE [LOAIPHONG] ADD  DEFAULT ((0)) FOR [DONGIA_LP]
GO
ALTER TABLE [LUOTGIATUI] ADD  DEFAULT ((1)) FOR [SOKILOGRAM_LUOTGU]
GO
ALTER TABLE [MATHANG] ADD  DEFAULT ((0)) FOR [DONGIA_MH]
GO
ALTER TABLE [MATHANG] ADD  CONSTRAINT [DF_MATHANG_NGAYNHAP_MH]  DEFAULT (getdate()) FOR [NGAYNHAP_MH]
GO
ALTER TABLE [NHANVIEN] ADD  DEFAULT (N'Nhân viên') FOR [CHUCVU_NV]
GO
ALTER TABLE [PHONG] ADD  DEFAULT (N'Trống') FOR [TINHTRANG_PHONG]
GO
ALTER TABLE [CHITIET_HDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_MATHANG] FOREIGN KEY([MA_MH])
REFERENCES [MATHANG] ([MA_MH])
GO
ALTER TABLE [CHITIET_HDAU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_MATHANG]
GO
ALTER TABLE [CHITIET_HDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDAU_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [HOADON] ([MA_HD])
GO
ALTER TABLE [CHITIET_HDAU] CHECK CONSTRAINT [FK_CHITIET_HDAU_HOADON]
GO
ALTER TABLE [CHITIET_HDDC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_CHUYENDI] FOREIGN KEY([MA_CD])
REFERENCES [CHUYENDI] ([MA_CD])
GO
ALTER TABLE [CHITIET_HDDC] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_CHUYENDI]
GO
ALTER TABLE [CHITIET_HDDC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDDC_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [HOADON] ([MA_HD])
GO
ALTER TABLE [CHITIET_HDDC] CHECK CONSTRAINT [FK_CHITIET_HDDC_HOADON]
GO
ALTER TABLE [CHITIET_HDGU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_LUOTGIAT] FOREIGN KEY([MA_LUOTGU])
REFERENCES [LUOTGIATUI] ([MA_LUOTGU])
GO
ALTER TABLE [CHITIET_HDGU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_LUOTGIAT]
GO
ALTER TABLE [CHITIET_HDGU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDGU_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [HOADON] ([MA_HD])
GO
ALTER TABLE [CHITIET_HDGU] CHECK CONSTRAINT [FK_CHITIET_HDGU_HOADON]
GO
ALTER TABLE [CHITIET_HDLT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_PHONG] FOREIGN KEY([MA_PHONG])
REFERENCES [PHONG] ([MA_PHONG])
GO
ALTER TABLE [CHITIET_HDLT] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_PHONG]
GO
ALTER TABLE [CHITIET_HDLT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDLT_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [HOADON] ([MA_HD])
GO
ALTER TABLE [CHITIET_HDLT] CHECK CONSTRAINT [FK_CHITIET_HDLT_HOADON]
GO
ALTER TABLE [HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CO_HD_KHACHHAN] FOREIGN KEY([MA_KH])
REFERENCES [KHACHHANG] ([MA_KH])
GO
ALTER TABLE [HOADON] CHECK CONSTRAINT [FK_HOADON_CO_HD_KHACHHAN]
GO
ALTER TABLE [HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_LAP_HD_NHANVIEN] FOREIGN KEY([MA_NV])
REFERENCES [NHANVIEN] ([MA_NV])
GO
ALTER TABLE [HOADON] CHECK CONSTRAINT [FK_HOADON_LAP_HD_NHANVIEN]
GO
ALTER TABLE [LUOTGIATUI]  WITH CHECK ADD  CONSTRAINT [FK_LUOTGIAT_CO_LOAIGU_LOAIGIAT] FOREIGN KEY([MA_LOAIGU])
REFERENCES [LOAIGIATUI] ([MA_LOAIGU])
GO
ALTER TABLE [LUOTGIATUI] CHECK CONSTRAINT [FK_LUOTGIAT_CO_LOAIGU_LOAIGIAT]
GO
ALTER TABLE [NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CO_TK_TAIKHOAN] FOREIGN KEY([MA_TK])
REFERENCES [TAIKHOAN] ([MA_TK])
GO
ALTER TABLE [NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CO_TK_TAIKHOAN]
GO
ALTER TABLE [PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_CO_LP_LOAIPHON] FOREIGN KEY([MA_LP])
REFERENCES [LOAIPHONG] ([MA_LP])
GO
ALTER TABLE [PHONG] CHECK CONSTRAINT [FK_PHONG_CO_LP_LOAIPHON]
GO
