USE [QLKS_IS201]
GO
/****** Object:  Table [CHITIET_HDAU]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHITIET_HDAU](
	[MA_HDAU] [int] NOT NULL,
	[MA_MH] [int] NOT NULL,
	[SOLUONG_MH] [int] NULL,
 CONSTRAINT [PK_CHITIET_HDAU] PRIMARY KEY CLUSTERED 
(
	[MA_HDAU] ASC,
	[MA_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CHITIET_HDDC]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHITIET_HDDC](
	[MA_HDDC] [int] NOT NULL,
	[MA_CD] [int] NOT NULL,
	[SOLUONG_CD] [int] NULL,
 CONSTRAINT [PK_CHITIET_HDDC] PRIMARY KEY CLUSTERED 
(
	[MA_HDDC] ASC,
	[MA_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CHITIET_HDGU]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHITIET_HDGU](
	[MA_HDGU] [int] NOT NULL,
	[MA_LUOTGU] [int] NOT NULL,
 CONSTRAINT [PK_CHITIET_HDGU] PRIMARY KEY CLUSTERED 
(
	[MA_HDGU] ASC,
	[MA_LUOTGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CHITIET_HDLT]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHITIET_HDLT](
	[MA_HDLT] [int] NOT NULL,
	[MA_PHONG] [int] NOT NULL,
	[THOIGIANNHAN_PHONG] [datetime] NULL,
	[THOIGIANTRA_PHONG] [datetime] NULL,
 CONSTRAINT [PK_CHITIET_HDLT] PRIMARY KEY CLUSTERED 
(
	[MA_HDLT] ASC,
	[MA_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [CHUYENDI]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CHUYENDI](
	[MA_CD] [int] IDENTITY(1,1) NOT NULL,
	[DIEMDEN_CD] [nvarchar](255) NULL,
	[DONGIA_CD] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [HOADON]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HOADON](
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[MA_HDAU] [int] NULL,
	[MA_HDGU] [int] NULL,
	[MA_HDLT] [int] NOT NULL,
	[MA_HDDC] [int] NULL,
	[MA_NV] [int] NOT NULL,
	[MA_KH] [int] NOT NULL,
	[THOIGIANLAP_HD] [datetime] NULL,
	[TRIGIA_HD] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [HOADONANUONG]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HOADONANUONG](
	[MA_HDAU] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANLAP_HDAU] [datetime] NULL,
	[TRIGIA_HDAU] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [HOADONDICHUYEN]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HOADONDICHUYEN](
	[MA_HDDC] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANLAP_HDDC] [datetime] NULL,
	[TRIGIA_HDDC] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [HOADONGIATUI]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HOADONGIATUI](
	[MA_HDGU] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANLAP_HDGU] [datetime] NULL,
	[TRIGIA_HDGU] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [HOADONLUUTRU]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HOADONLUUTRU](
	[MA_HDLT] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANLAP_HDLT] [datetime] NULL,
	[TRIGIA_HDLT] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [KHACHHANG]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KHACHHANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN_KH] [nvarchar](255) NULL,
	[SODIENTHOAI_KH] [nvarchar](15) NULL,
	[CMND_KH] [nvarchar](12) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [LOAIGIATUI]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOAIGIATUI](
	[MA_LOAIGU] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAIGU] [nvarchar](255) NULL,
	[DONGIA_LOAIGU] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [LOAIPHONG]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOAIPHONG](
	[MA_LP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LP] [nvarchar](255) NULL,
	[DONGIA_LP] [money] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [LUOTGIATUI]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LUOTGIATUI](
	[MA_LUOTGU] [int] IDENTITY(1,1) NOT NULL,
	[MA_LOAIGU] [int] NOT NULL,
	[SOKILOGRAM_LUOTGU] [int] NULL,
	[NGAYBATDAU_LUOTGU] [datetime] NULL,
	[NGAYKETTHUC_LUOTGU] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [MATHANG]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [MATHANG](
	[MA_MH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_MH] [nvarchar](255) NULL,
	[DONGIA_MH] [money] NULL,
	[NGAYNHAP_MH] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [NHANVIEN]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [NHANVIEN](
	[MA_NV] [int] IDENTITY(1,1) NOT NULL,
	[MA_TK] [int] NOT NULL,
	[HOTEN_NV] [nvarchar](255) NULL,
	[GIOITINH_NV] [bit] NULL,
	[NGAYSINH_NV] [datetime] NULL,
	[SODIENTHOAI_NV] [nvarchar](15) NULL,
	[CHUCVU_NV] [nvarchar](30) NULL,
	[DIACHI_NV] [nvarchar](255) NULL,
	[NGAYVAOLAM_NV] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [PHONG]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PHONG](
	[MA_PHONG] [int] NOT NULL,
	[MA_LP] [int] NOT NULL,
	[TINHTRANG_PHONG] [nvarchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [TAIKHOAN]    Script Date: 02/06/2018 02:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TAIKHOAN](
	[MA_TK] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP_TK] [nvarchar](32) NULL,
	[MATKHAU_TK] [nvarchar](32) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [KHACHHANG] ON 

INSERT [KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (1, N'Bùi Huy Phúc', N'0914659369', N'272645354')
SET IDENTITY_INSERT [KHACHHANG] OFF
SET IDENTITY_INSERT [LOAIGIATUI] ON 

INSERT [LOAIGIATUI] ([MA_LOAIGU], [TEN_LOAIGU], [DONGIA_LOAIGU]) VALUES (1, N'Theo kilogram', 20000.0000)
INSERT [LOAIGIATUI] ([MA_LOAIGU], [TEN_LOAIGU], [DONGIA_LOAIGU]) VALUES (2, N'Theo ngày', 50000.0000)
SET IDENTITY_INSERT [LOAIGIATUI] OFF
SET IDENTITY_INSERT [LOAIPHONG] ON 

INSERT [LOAIPHONG] ([MA_LP], [TEN_LP], [DONGIA_LP]) VALUES (1, N'Tiêu chuẩn đơn', 80000.0000)
INSERT [LOAIPHONG] ([MA_LP], [TEN_LP], [DONGIA_LP]) VALUES (2, N'Tiêu chuẩn đôi', 120000.0000)
INSERT [LOAIPHONG] ([MA_LP], [TEN_LP], [DONGIA_LP]) VALUES (3, N'Cao cấp đơn', 120000.0000)
SET IDENTITY_INSERT [LOAIPHONG] OFF
SET IDENTITY_INSERT [MATHANG] ON 

INSERT [MATHANG] ([MA_MH], [TEN_MH], [DONGIA_MH], [NGAYNHAP_MH]) VALUES (1, N'Mì Hảo Hảo ly', 8000.0000, CAST(N'2018-05-23T00:00:00.000' AS DateTime))
INSERT [MATHANG] ([MA_MH], [TEN_MH], [DONGIA_MH], [NGAYNHAP_MH]) VALUES (2, N'Poca Rong biển', 6000.0000, CAST(N'2018-06-01T00:00:00.000' AS DateTime))
INSERT [MATHANG] ([MA_MH], [TEN_MH], [DONGIA_MH], [NGAYNHAP_MH]) VALUES (3, N'Sandwich gà', 14000.0000, CAST(N'2018-06-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [MATHANG] OFF
SET IDENTITY_INSERT [NHANVIEN] ON 

INSERT [NHANVIEN] ([MA_NV], [MA_TK], [HOTEN_NV], [GIOITINH_NV], [NGAYSINH_NV], [SODIENTHOAI_NV], [CHUCVU_NV], [DIACHI_NV], [NGAYVAOLAM_NV]) VALUES (1, 1, N'Bùi Huy Phúc', 1, NULL, N'0914659369', N'Admin', NULL, NULL)
INSERT [NHANVIEN] ([MA_NV], [MA_TK], [HOTEN_NV], [GIOITINH_NV], [NGAYSINH_NV], [SODIENTHOAI_NV], [CHUCVU_NV], [DIACHI_NV], [NGAYVAOLAM_NV]) VALUES (2, 2, N'Phạm Phong Phú', 1, NULL, N'0909090909', N'Admin', NULL, NULL)
INSERT [NHANVIEN] ([MA_NV], [MA_TK], [HOTEN_NV], [GIOITINH_NV], [NGAYSINH_NV], [SODIENTHOAI_NV], [CHUCVU_NV], [DIACHI_NV], [NGAYVAOLAM_NV]) VALUES (3, 3, N'Bùi Thanh Tùng', 1, NULL, N'0969696969', N'Admin', NULL, NULL)
SET IDENTITY_INSERT [NHANVIEN] OFF
INSERT [PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (101, 1, N'Trống')
INSERT [PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (102, 4, N'Trống')
INSERT [PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (103, 1, N'Đang thuê')
SET IDENTITY_INSERT [TAIKHOAN] ON 

INSERT [TAIKHOAN] ([MA_TK], [TENDANGNHAP_TK], [MATKHAU_TK]) VALUES (1, N'phuc', N'c4aa9e36697271fbd4922f13d68a94f9')
INSERT [TAIKHOAN] ([MA_TK], [TENDANGNHAP_TK], [MATKHAU_TK]) VALUES (2, N'phu', N'9b0550b1bb8c4323f4f5f2f8e386302b')
INSERT [TAIKHOAN] ([MA_TK], [TENDANGNHAP_TK], [MATKHAU_TK]) VALUES (3, N'tung', N'26b3fbb2ce1354a7a8dcc2abb458e96b')
SET IDENTITY_INSERT [TAIKHOAN] OFF
/****** Object:  Index [PK_CHUYENDI]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [CHUYENDI] ADD  CONSTRAINT [PK_CHUYENDI] PRIMARY KEY NONCLUSTERED 
(
	[MA_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HOADON]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HOADONANUONG]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [HOADONANUONG] ADD  CONSTRAINT [PK_HOADONANUONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_HDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HOADONDICHUYEN]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [HOADONDICHUYEN] ADD  CONSTRAINT [PK_HOADONDICHUYEN] PRIMARY KEY NONCLUSTERED 
(
	[MA_HDDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HOADONGIATUI]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [HOADONGIATUI] ADD  CONSTRAINT [PK_HOADONGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_HDGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HOADONLUUTRU]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [HOADONLUUTRU] ADD  CONSTRAINT [PK_HOADONLUUTRU] PRIMARY KEY NONCLUSTERED 
(
	[MA_HDLT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIGIATUI]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [LOAIGIATUI] ADD  CONSTRAINT [PK_LOAIGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_LOAIGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIPHONG]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [LOAIPHONG] ADD  CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_LP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LUOTGIATUI]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [LUOTGIATUI] ADD  CONSTRAINT [PK_LUOTGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_LUOTGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MATHANG]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [MATHANG] ADD  CONSTRAINT [PK_MATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PHONG]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [PHONG] ADD  CONSTRAINT [PK_PHONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TAIKHOAN]    Script Date: 02/06/2018 02:05:41 ******/
ALTER TABLE [TAIKHOAN] ADD  CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [CHITIET_HDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_HOADONAN] FOREIGN KEY([MA_HDAU])
REFERENCES [HOADONANUONG] ([MA_HDAU])
GO
ALTER TABLE [CHITIET_HDAU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_HOADONAN]
GO
ALTER TABLE [CHITIET_HDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_MATHANG] FOREIGN KEY([MA_MH])
REFERENCES [MATHANG] ([MA_MH])
GO
ALTER TABLE [CHITIET_HDAU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_MATHANG]
GO
ALTER TABLE [CHITIET_HDDC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_CHUYENDI] FOREIGN KEY([MA_CD])
REFERENCES [CHUYENDI] ([MA_CD])
GO
ALTER TABLE [CHITIET_HDDC] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_CHUYENDI]
GO
ALTER TABLE [CHITIET_HDDC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_HOADONDI] FOREIGN KEY([MA_HDDC])
REFERENCES [HOADONDICHUYEN] ([MA_HDDC])
GO
ALTER TABLE [CHITIET_HDDC] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_HOADONDI]
GO
ALTER TABLE [CHITIET_HDGU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_HOADONGI] FOREIGN KEY([MA_HDGU])
REFERENCES [HOADONGIATUI] ([MA_HDGU])
GO
ALTER TABLE [CHITIET_HDGU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_HOADONGI]
GO
ALTER TABLE [CHITIET_HDGU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_LUOTGIAT] FOREIGN KEY([MA_LUOTGU])
REFERENCES [LUOTGIATUI] ([MA_LUOTGU])
GO
ALTER TABLE [CHITIET_HDGU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_LUOTGIAT]
GO
ALTER TABLE [CHITIET_HDLT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_HOADONLU] FOREIGN KEY([MA_HDLT])
REFERENCES [HOADONLUUTRU] ([MA_HDLT])
GO
ALTER TABLE [CHITIET_HDLT] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_HOADONLU]
GO
ALTER TABLE [CHITIET_HDLT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_PHONG] FOREIGN KEY([MA_PHONG])
REFERENCES [PHONG] ([MA_PHONG])
GO
ALTER TABLE [CHITIET_HDLT] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_PHONG]
GO
ALTER TABLE [HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CO_HD_KHACHHAN] FOREIGN KEY([MA_KH])
REFERENCES [KHACHHANG] ([MA_KH])
GO
ALTER TABLE [HOADON] CHECK CONSTRAINT [FK_HOADON_CO_HD_KHACHHAN]
GO
ALTER TABLE [HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CO_HDAU_HOADONAN] FOREIGN KEY([MA_HDAU])
REFERENCES [HOADONANUONG] ([MA_HDAU])
GO
ALTER TABLE [HOADON] CHECK CONSTRAINT [FK_HOADON_CO_HDAU_HOADONAN]
GO
ALTER TABLE [HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CO_HDDC_HOADONDI] FOREIGN KEY([MA_HDDC])
REFERENCES [HOADONDICHUYEN] ([MA_HDDC])
GO
ALTER TABLE [HOADON] CHECK CONSTRAINT [FK_HOADON_CO_HDDC_HOADONDI]
GO
ALTER TABLE [HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CO_HDGU_HOADONGI] FOREIGN KEY([MA_HDGU])
REFERENCES [HOADONGIATUI] ([MA_HDGU])
GO
ALTER TABLE [HOADON] CHECK CONSTRAINT [FK_HOADON_CO_HDGU_HOADONGI]
GO
ALTER TABLE [HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CO_HDLT_HOADONLU] FOREIGN KEY([MA_HDLT])
REFERENCES [HOADONLUUTRU] ([MA_HDLT])
GO
ALTER TABLE [HOADON] CHECK CONSTRAINT [FK_HOADON_CO_HDLT_HOADONLU]
GO
ALTER TABLE [HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_LAP_HD_NHANVIEN] FOREIGN KEY([MA_NV])
REFERENCES [NHANVIEN] ([MA_NV])
GO
ALTER TABLE [HOADON] CHECK CONSTRAINT [FK_HOADON_LAP_HD_NHANVIEN]
GO
ALTER TABLE [LUOTGIATUI]  WITH CHECK ADD  CONSTRAINT [FK_LUOTGIAT_CO_LOAIGU_LOAIGIAT] FOREIGN KEY([MA_LOAIGU])
REFERENCES [LOAIGIATUI] ([MA_LOAIGU])
GO
ALTER TABLE [LUOTGIATUI] CHECK CONSTRAINT [FK_LUOTGIAT_CO_LOAIGU_LOAIGIAT]
GO
ALTER TABLE [NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CO_TK_TAIKHOAN] FOREIGN KEY([MA_TK])
REFERENCES [TAIKHOAN] ([MA_TK])
GO
ALTER TABLE [NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CO_TK_TAIKHOAN]
GO
ALTER TABLE [PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_CO_LP_LOAIPHON] FOREIGN KEY([MA_LP])
REFERENCES [LOAIPHONG] ([MA_LP])
GO
ALTER TABLE [PHONG] CHECK CONSTRAINT [FK_PHONG_CO_LP_LOAIPHON]
GO
