USE [master]
GO
/****** Object:  Database [QLKS_IS201]    Script Date: 07/06/2018 1:51:57 PM ******/
CREATE DATABASE [QLKS_IS201]
GO
USE [QLKS_IS201]
GO
/****** Object:  Table [dbo].[BAOCAODICHVU]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAODICHVU](
	[MA_BCDV] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANLAP_BCDV] [smalldatetime] NULL,
	[TONGDOANHTHU_BCDV] [money] NULL,
	[DOANHTHULUUTRU_BCDV] [money] NULL,
	[DOANHTHUANUONG_BCDV] [money] NULL,
	[DOANHTHUGIATUI_BCDV] [money] NULL,
	[DOANHTHUDICHUYEN_BCDV] [money] NULL,
	[NGAYBATDAU_BCDV] [date] NULL,
	[NGAYKETTHUC_BCDV] [date] NULL,
 CONSTRAINT [PK_BAOCAODICHVU] PRIMARY KEY CLUSTERED 
(
	[MA_BCDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAOCAONAM]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAONAM](
	[MA_BCN] [int] IDENTITY(1,1) NOT NULL,
	[THOIGIANLAP_BCN] [smalldatetime] NULL,
	[NAM_BCN] [int] NULL,
	[TONGDOANHTHU_BCN] [money] NULL,
	[DOANHTHUTHANG1_BCN] [money] NULL,
	[DOANHTHUTHANG2_BCN] [money] NULL,
	[DOANHTHUTHANG3_BCN] [money] NULL,
	[DOANHTHUTHANG4_BCN] [money] NULL,
	[DOANHTHUTHANG5_BCN] [money] NULL,
	[DOANHTHUTHANG6_BCN] [money] NULL,
	[DOANHTHUTHANG7_BCN] [money] NULL,
	[DOANHTHUTHANG8_BCN] [money] NULL,
	[DOANHTHUTHANG9_BCN] [money] NULL,
	[DOANHTHUTHANG10_BCN] [money] NULL,
	[DOANHTHUTHANG11_BCN] [money] NULL,
	[DOANHTHUTHANG12_BCN] [money] NULL,
 CONSTRAINT [PK_BAOCAONAM] PRIMARY KEY CLUSTERED 
(
	[MA_BCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIET_HDAU]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDAU](
	[MA_CTHDAU] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_MH] [int] NOT NULL,
	[SOLUONG_MH] [int] NULL DEFAULT ((1)),
	[TRIGIA_CTHDAU] [money] NULL DEFAULT ((0)),
	[THOIGIANLAP_CTHDAU] [smalldatetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIET_HDDC]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDDC](
	[MA_CTHDDC] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_CD] [int] NOT NULL,
	[TRIGIA_CTHDDC] [money] NULL DEFAULT ((0)),
	[THOIGIANLAP_CTHDDC] [smalldatetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIET_HDGU]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDGU](
	[MA_CTHDGU] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_LUOTGU] [int] NOT NULL,
	[TRIGIA_CTHDGU] [money] NULL DEFAULT ((0)),
	[THOIGIANLAP_CTHDGU] [smalldatetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIET_HDLT]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIET_HDLT](
	[MA_CTHDLT] [int] IDENTITY(1,1) NOT NULL,
	[MA_HD] [int] NOT NULL,
	[MA_PHONG] [int] NOT NULL,
	[THOIGIANNHAN_PHONG] [smalldatetime] NULL DEFAULT (getdate()),
	[THOIGIANTRA_PHONG] [smalldatetime] NULL,
	[TRIGIA_CTHDLT] [money] NULL DEFAULT ((0))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHUYENDI]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYENDI](
	[MA_CD] [int] IDENTITY(1,1) NOT NULL,
	[DIEMDEN_CD] [nvarchar](255) NULL,
	[DONGIA_CD] [money] NULL DEFAULT ((0))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MA_HD] [int] IDENTITY(1,1) NOT NULL,
	[MA_NV] [int] NOT NULL,
	[MA_KH] [int] NOT NULL,
	[THOIGIANLAP_HD] [smalldatetime] NULL DEFAULT (getdate()),
	[TINHTRANG_HD] [bit] NULL DEFAULT ((0)),
	[TRIGIA_HD] [money] NULL DEFAULT ((0))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN_KH] [nvarchar](255) NULL,
	[SODIENTHOAI_KH] [nvarchar](15) NULL,
	[CMND_KH] [nvarchar](12) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIGIATUI]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIGIATUI](
	[MA_LOAIGU] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LOAIGU] [nvarchar](255) NULL,
	[DONGIA_LOAIGU] [money] NULL DEFAULT ((0))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MA_LP] [int] IDENTITY(1,1) NOT NULL,
	[TEN_LP] [nvarchar](255) NULL,
	[DONGIA_LP] [money] NULL DEFAULT ((0))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LUOTGIATUI]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUOTGIATUI](
	[MA_LUOTGU] [int] IDENTITY(1,1) NOT NULL,
	[MA_LOAIGU] [int] NOT NULL,
	[SOKILOGRAM_LUOTGU] [int] NULL DEFAULT ((1)),
	[NGAYBATDAU_LUOTGU] [date] NULL,
	[NGAYKETTHUC_LUOTGU] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MATHANG]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATHANG](
	[MA_MH] [int] IDENTITY(1,1) NOT NULL,
	[TEN_MH] [nvarchar](255) NULL,
	[DONGIA_MH] [money] NULL DEFAULT ((0)),
	[NGAYNHAP_MH] [date] NULL CONSTRAINT [DF_MATHANG_NGAYNHAP_MH]  DEFAULT (getdate())
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MA_NV] [int] IDENTITY(1,1) NOT NULL,
	[MA_TK] [int] NOT NULL,
	[HOTEN_NV] [nvarchar](255) NULL,
	[GIOITINH_NV] [bit] NULL,
	[NGAYSINH_NV] [date] NULL,
	[SODIENTHOAI_NV] [nvarchar](15) NULL,
	[CHUCVU_NV] [nvarchar](30) NULL DEFAULT (N'Nhân viên'),
	[DIACHI_NV] [nvarchar](255) NULL,
	[NGAYVAOLAM_NV] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MA_PHONG] [int] NOT NULL,
	[MA_LP] [int] NOT NULL,
	[TINHTRANG_PHONG] [nvarchar](30) NULL DEFAULT (N'Trống')
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 07/06/2018 1:51:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[MA_TK] [int] IDENTITY(1,1) NOT NULL,
	[TENDANGNHAP_TK] [nvarchar](32) NULL,
	[MATKHAU_TK] [nvarchar](255) NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CHITIET_HDAU] ON 

INSERT [dbo].[CHITIET_HDAU] ([MA_CTHDAU], [MA_HD], [MA_MH], [SOLUONG_MH], [TRIGIA_CTHDAU], [THOIGIANLAP_CTHDAU]) VALUES (4, 6, 1, 3, 24000,0000, NULL)
INSERT [dbo].[CHITIET_HDAU] ([MA_CTHDAU], [MA_HD], [MA_MH], [SOLUONG_MH], [TRIGIA_CTHDAU], [THOIGIANLAP_CTHDAU]) VALUES (5, 6, 2, 4, 36000,0000, NULL)
INSERT [dbo].[CHITIET_HDAU] ([MA_CTHDAU], [MA_HD], [MA_MH], [SOLUONG_MH], [TRIGIA_CTHDAU], [THOIGIANLAP_CTHDAU]) VALUES (6, 6, 3, 6, 72000,0000, NULL)
SET IDENTITY_INSERT [dbo].[CHITIET_HDAU] OFF
SET IDENTITY_INSERT [dbo].[CHITIET_HDDC] ON 

INSERT [dbo].[CHITIET_HDDC] ([MA_CTHDDC], [MA_HD], [MA_CD], [TRIGIA_CTHDDC], [THOIGIANLAP_CTHDDC]) VALUES (1, 6, 4, 200000,0000, NULL)
INSERT [dbo].[CHITIET_HDDC] ([MA_CTHDDC], [MA_HD], [MA_CD], [TRIGIA_CTHDDC], [THOIGIANLAP_CTHDDC]) VALUES (2, 6, 8, 220000,0000, NULL)
INSERT [dbo].[CHITIET_HDDC] ([MA_CTHDDC], [MA_HD], [MA_CD], [TRIGIA_CTHDDC], [THOIGIANLAP_CTHDDC]) VALUES (3, 6, 6, 230000,0000, NULL)
SET IDENTITY_INSERT [dbo].[CHITIET_HDDC] OFF
SET IDENTITY_INSERT [dbo].[CHITIET_HDGU] ON 

INSERT [dbo].[CHITIET_HDGU] ([MA_CTHDGU], [MA_HD], [MA_LUOTGU], [TRIGIA_CTHDGU], [THOIGIANLAP_CTHDGU]) VALUES (6, 6, 4, 600000,0000, NULL)
INSERT [dbo].[CHITIET_HDGU] ([MA_CTHDGU], [MA_HD], [MA_LUOTGU], [TRIGIA_CTHDGU], [THOIGIANLAP_CTHDGU]) VALUES (7, 6, 5, 150000,0000, NULL)
INSERT [dbo].[CHITIET_HDGU] ([MA_CTHDGU], [MA_HD], [MA_LUOTGU], [TRIGIA_CTHDGU], [THOIGIANLAP_CTHDGU]) VALUES (9, 9, 7, 400000,0000, CAST(N'2018-06-07 10:48:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[CHITIET_HDGU] OFF
SET IDENTITY_INSERT [dbo].[CHITIET_HDLT] ON 

INSERT [dbo].[CHITIET_HDLT] ([MA_CTHDLT], [MA_HD], [MA_PHONG], [THOIGIANNHAN_PHONG], [THOIGIANTRA_PHONG], [TRIGIA_CTHDLT]) VALUES (5, 6, 101, CAST(N'2018-06-05 14:36:00' AS SmallDateTime), CAST(N'2018-06-06 19:15:00' AS SmallDateTime), 300000,0000)
INSERT [dbo].[CHITIET_HDLT] ([MA_CTHDLT], [MA_HD], [MA_PHONG], [THOIGIANNHAN_PHONG], [THOIGIANTRA_PHONG], [TRIGIA_CTHDLT]) VALUES (6, 7, 303, CAST(N'2018-06-06 12:21:00' AS SmallDateTime), NULL, NULL)
INSERT [dbo].[CHITIET_HDLT] ([MA_CTHDLT], [MA_HD], [MA_PHONG], [THOIGIANNHAN_PHONG], [THOIGIANTRA_PHONG], [TRIGIA_CTHDLT]) VALUES (7, 8, 207, CAST(N'2018-06-06 15:50:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[CHITIET_HDLT] OFF
SET IDENTITY_INSERT [dbo].[CHUYENDI] ON 

INSERT [dbo].[CHUYENDI] ([MA_CD], [DIEMDEN_CD], [DONGIA_CD]) VALUES (1, N'Sân bay Tân Sơn Nhất', 200000,0000)
INSERT [dbo].[CHUYENDI] ([MA_CD], [DIEMDEN_CD], [DONGIA_CD]) VALUES (2, N'Bến xe Miền Đông', 270000,0000)
INSERT [dbo].[CHUYENDI] ([MA_CD], [DIEMDEN_CD], [DONGIA_CD]) VALUES (3, N'Bến xe Miền Tây', 140000,0000)
SET IDENTITY_INSERT [dbo].[CHUYENDI] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MA_HD], [MA_NV], [MA_KH], [THOIGIANLAP_HD], [TINHTRANG_HD], [TRIGIA_HD]) VALUES (6, 1, 2, CAST(N'2018-06-05 14:36:00' AS SmallDateTime), 1, 2269000,0000)
INSERT [dbo].[HOADON] ([MA_HD], [MA_NV], [MA_KH], [THOIGIANLAP_HD], [TINHTRANG_HD], [TRIGIA_HD]) VALUES (7, 1, 4, CAST(N'2018-06-06 12:21:00' AS SmallDateTime), 0, NULL)
INSERT [dbo].[HOADON] ([MA_HD], [MA_NV], [MA_KH], [THOIGIANLAP_HD], [TINHTRANG_HD], [TRIGIA_HD]) VALUES (8, 1, 1, CAST(N'2018-06-06 15:50:00' AS SmallDateTime), 0, NULL)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (1, N'Hoàng Thanh Tùng', N'0914659369', N'272645354')
INSERT [dbo].[KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (2, N'Phúc Đep Trai', N'', N'123456789')
INSERT [dbo].[KHACHHANG] ([MA_KH], [HOTEN_KH], [SODIENTHOAI_KH], [CMND_KH]) VALUES (3, N'Phú', N'', N'987987987')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAIGIATUI] ON 

INSERT [dbo].[LOAIGIATUI] ([MA_LOAIGU], [TEN_LOAIGU], [DONGIA_LOAIGU]) VALUES (1, N'Theo kilogram', 20000,0000)
INSERT [dbo].[LOAIGIATUI] ([MA_LOAIGU], [TEN_LOAIGU], [DONGIA_LOAIGU]) VALUES (2, N'Theo ngày', 50000,0000)
SET IDENTITY_INSERT [dbo].[LOAIGIATUI] OFF
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([MA_LP], [TEN_LP], [DONGIA_LP]) VALUES (1, N'Tiêu chuẩn đơn', 80000,0000)
INSERT [dbo].[LOAIPHONG] ([MA_LP], [TEN_LP], [DONGIA_LP]) VALUES (2, N'Tiêu chuẩn đôi', 120000,0000)
INSERT [dbo].[LOAIPHONG] ([MA_LP], [TEN_LP], [DONGIA_LP]) VALUES (3, N'Cao cấp đơn', 120000,0000)
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
SET IDENTITY_INSERT [dbo].[LUOTGIATUI] ON 

INSERT [dbo].[LUOTGIATUI] ([MA_LUOTGU], [MA_LOAIGU], [SOKILOGRAM_LUOTGU], [NGAYBATDAU_LUOTGU], [NGAYKETTHUC_LUOTGU]) VALUES (1, 1, 3, NULL, NULL)
INSERT [dbo].[LUOTGIATUI] ([MA_LUOTGU], [MA_LOAIGU], [SOKILOGRAM_LUOTGU], [NGAYBATDAU_LUOTGU], [NGAYKETTHUC_LUOTGU]) VALUES (3, 2, 1, CAST(N'2018-06-05' AS Date), CAST(N'2018-08-12' AS Date))
INSERT [dbo].[LUOTGIATUI] ([MA_LUOTGU], [MA_LOAIGU], [SOKILOGRAM_LUOTGU], [NGAYBATDAU_LUOTGU], [NGAYKETTHUC_LUOTGU]) VALUES (4, 1, 30, NULL, NULL)
SET IDENTITY_INSERT [dbo].[LUOTGIATUI] OFF
SET IDENTITY_INSERT [dbo].[MATHANG] ON 

INSERT [dbo].[MATHANG] ([MA_MH], [TEN_MH], [DONGIA_MH], [NGAYNHAP_MH]) VALUES (1, N'Nước khoáng Aquafina 330ml', 8000,0000, CAST(N'2018-05-23' AS Date))
INSERT [dbo].[MATHANG] ([MA_MH], [TEN_MH], [DONGIA_MH], [NGAYNHAP_MH]) VALUES (2, N'Nước khoáng Dasani 330ml ', 9000,0000, CAST(N'2018-06-01' AS Date))
INSERT [dbo].[MATHANG] ([MA_MH], [TEN_MH], [DONGIA_MH], [NGAYNHAP_MH]) VALUES (3, N'Nước khoáng Aquafina 1.5l', 12000,0000, CAST(N'2018-06-01' AS Date))
SET IDENTITY_INSERT [dbo].[MATHANG] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MA_NV], [MA_TK], [HOTEN_NV], [GIOITINH_NV], [NGAYSINH_NV], [SODIENTHOAI_NV], [CHUCVU_NV], [DIACHI_NV], [NGAYVAOLAM_NV]) VALUES (1, 1, N'Bùi Huy Phúc', 1, CAST(N'1997-07-17' AS Date), N'0914659369', N'Quản lí', N'87B Hoàng Hoa Thám, Tp. Biên Hòa, Đồng Nai', CAST(N'2010-02-11' AS Date))
INSERT [dbo].[NHANVIEN] ([MA_NV], [MA_TK], [HOTEN_NV], [GIOITINH_NV], [NGAYSINH_NV], [SODIENTHOAI_NV], [CHUCVU_NV], [DIACHI_NV], [NGAYVAOLAM_NV]) VALUES (2, 2, N'Phạm Phong Phú', 1, CAST(N'1997-08-20' AS Date), N'01208989089', N'Nhân viên', N'901 Trường Chinh, Q. Tân Bình, Tp. Hồ Chí Minh', CAST(N'2010-03-24' AS Date))
INSERT [dbo].[NHANVIEN] ([MA_NV], [MA_TK], [HOTEN_NV], [GIOITINH_NV], [NGAYSINH_NV], [SODIENTHOAI_NV], [CHUCVU_NV], [DIACHI_NV], [NGAYVAOLAM_NV]) VALUES (3, 3, N'Bùi Thanh Tùng', 1, CAST(N'1997-09-23' AS Date), N'0166554433', N'Nhân viên', N'78/34 Phạm Hùng, Q.8 Tp. Hồ Chí Minh', CAST(N'2010-06-17' AS Date))
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
INSERT [dbo].[PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (101, 5, N'Đang thuê')
INSERT [dbo].[PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (102, 1, N'Trống')
INSERT [dbo].[PHONG] ([MA_PHONG], [MA_LP], [TINHTRANG_PHONG]) VALUES (103, 1, N'Trống')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] ON 

INSERT [dbo].[TAIKHOAN] ([MA_TK], [TENDANGNHAP_TK], [MATKHAU_TK]) VALUES (1, N'phuc', N'c4aa9e36697271fbd4922f13d68a94f9')
INSERT [dbo].[TAIKHOAN] ([MA_TK], [TENDANGNHAP_TK], [MATKHAU_TK]) VALUES (2, N'phu', N'9b0550b1bb8c4323f4f5f2f8e386302b')
INSERT [dbo].[TAIKHOAN] ([MA_TK], [TENDANGNHAP_TK], [MATKHAU_TK]) VALUES (3, N'tung', N'26b3fbb2ce1354a7a8dcc2abb458e96b')
SET IDENTITY_INSERT [dbo].[TAIKHOAN] OFF
/****** Object:  Index [PK_CHITIET_HDAU]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[CHITIET_HDAU] ADD  CONSTRAINT [PK_CHITIET_HDAU] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDAU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHITIET_HDDC]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[CHITIET_HDDC] ADD  CONSTRAINT [PK_CHITIET_HDDC] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDDC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHITIET_HDGU]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[CHITIET_HDGU] ADD  CONSTRAINT [PK_CHITIET_HDGU] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHITIET_HDLT]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[CHITIET_HDLT] ADD  CONSTRAINT [PK_CHITIET_HDLT] PRIMARY KEY NONCLUSTERED 
(
	[MA_CTHDLT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_CHUYENDI]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[CHUYENDI] ADD  CONSTRAINT [PK_CHUYENDI] PRIMARY KEY NONCLUSTERED 
(
	[MA_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_HOADON]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[HOADON] ADD  CONSTRAINT [PK_HOADON] PRIMARY KEY NONCLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIGIATUI]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[LOAIGIATUI] ADD  CONSTRAINT [PK_LOAIGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_LOAIGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAIPHONG]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[LOAIPHONG] ADD  CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_LP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LUOTGIATUI]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[LUOTGIATUI] ADD  CONSTRAINT [PK_LUOTGIATUI] PRIMARY KEY NONCLUSTERED 
(
	[MA_LUOTGU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_MATHANG]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[MATHANG] ADD  CONSTRAINT [PK_MATHANG] PRIMARY KEY NONCLUSTERED 
(
	[MA_MH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_NHANVIEN]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [PK_NHANVIEN] PRIMARY KEY NONCLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_PHONG]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[PHONG] ADD  CONSTRAINT [PK_PHONG] PRIMARY KEY NONCLUSTERED 
(
	[MA_PHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TAIKHOAN]    Script Date: 07/06/2018 1:51:57 PM ******/
ALTER TABLE [dbo].[TAIKHOAN] ADD  CONSTRAINT [PK_TAIKHOAN] PRIMARY KEY NONCLUSTERED 
(
	[MA_TK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIET_HDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_MATHANG] FOREIGN KEY([MA_MH])
REFERENCES [dbo].[MATHANG] ([MA_MH])
GO
ALTER TABLE [dbo].[CHITIET_HDAU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_MATHANG]
GO
ALTER TABLE [dbo].[CHITIET_HDAU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDAU_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDAU] CHECK CONSTRAINT [FK_CHITIET_HDAU_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HDDC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_CHUYENDI] FOREIGN KEY([MA_CD])
REFERENCES [dbo].[CHUYENDI] ([MA_CD])
GO
ALTER TABLE [dbo].[CHITIET_HDDC] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_CHUYENDI]
GO
ALTER TABLE [dbo].[CHITIET_HDDC]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDDC_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDDC] CHECK CONSTRAINT [FK_CHITIET_HDDC_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HDGU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_LUOTGIAT] FOREIGN KEY([MA_LUOTGU])
REFERENCES [dbo].[LUOTGIATUI] ([MA_LUOTGU])
GO
ALTER TABLE [dbo].[CHITIET_HDGU] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_LUOTGIAT]
GO
ALTER TABLE [dbo].[CHITIET_HDGU]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDGU_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDGU] CHECK CONSTRAINT [FK_CHITIET_HDGU_HOADON]
GO
ALTER TABLE [dbo].[CHITIET_HDLT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET__CHITIET_H_PHONG] FOREIGN KEY([MA_PHONG])
REFERENCES [dbo].[PHONG] ([MA_PHONG])
GO
ALTER TABLE [dbo].[CHITIET_HDLT] CHECK CONSTRAINT [FK_CHITIET__CHITIET_H_PHONG]
GO
ALTER TABLE [dbo].[CHITIET_HDLT]  WITH CHECK ADD  CONSTRAINT [FK_CHITIET_HDLT_HOADON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOADON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHITIET_HDLT] CHECK CONSTRAINT [FK_CHITIET_HDLT_HOADON]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_CO_HD_KHACHHAN] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACHHANG] ([MA_KH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_CO_HD_KHACHHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_LAP_HD_NHANVIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHANVIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_LAP_HD_NHANVIEN]
GO
ALTER TABLE [dbo].[LUOTGIATUI]  WITH CHECK ADD  CONSTRAINT [FK_LUOTGIAT_CO_LOAIGU_LOAIGIAT] FOREIGN KEY([MA_LOAIGU])
REFERENCES [dbo].[LOAIGIATUI] ([MA_LOAIGU])
GO
ALTER TABLE [dbo].[LUOTGIATUI] CHECK CONSTRAINT [FK_LUOTGIAT_CO_LOAIGU_LOAIGIAT]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CO_TK_TAIKHOAN] FOREIGN KEY([MA_TK])
REFERENCES [dbo].[TAIKHOAN] ([MA_TK])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CO_TK_TAIKHOAN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_CO_LP_LOAIPHON] FOREIGN KEY([MA_LP])
REFERENCES [dbo].[LOAIPHONG] ([MA_LP])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_CO_LP_LOAIPHON]
GO
USE [master]
GO
